@using Microsoft.AspNetCore.Identity
@model IEnumerable<DardaniaRealEstate.Models.Office>
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "ResRent";
}


<div class="container">
    <table class="table bg-light">
        <thead>

        <td></td>
        <td>Price</td>
        <td>Square Meters</td>
        <td>City</td>
        <td>Location</td>
        <td></td>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.Options != "Rent")
                {
                    <tr>
                        <th scope="row"><img src="@Html.DisplayFor(modelItem => item.Photo)" width="100" height="100" /></th>
                        <td>@Html.DisplayFor(modelItem => item.Price) € / m²</td>
                        <td>@Html.DisplayFor(modelItem => item.Squaremetres) m²</td>

                        <td>@Html.DisplayFor(modelItem => item.Communes.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Location)</td>
                        <td><a class="btn btn-primary  btn-block" asp-action="Details" asp-route-id="@item.Id">Details</a></td>
                    </tr>

                }

            }


        </tbody>
    </table>
</div>