@using Microsoft.AspNetCore.Identity
@model IEnumerable<DardaniaRealEstate.Models.Residence>
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "ResRent";
}


<div class="container">
    
    <table class="table bg-light">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Price</th>
                <th scope="col">Square Meter</th>
                <th scope="col">City</th>
                <th scope="col">Location</th>
                <th scope="col">Option</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.Options != "Rent")
                {
                    <tr>
                        <th scope="row"><img src="@Html.DisplayFor(modelItem => item.Photo)" width="100" height="100" /></th>
                        <td>@Html.DisplayFor(modelItem => item.Price) € / m²</td>
                        <td>@Html.DisplayFor(modelItem => item.ResidenceSpace) m²</td>

                        <td>@Html.DisplayFor(modelItem => item.Communes.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Address)</td>
                        <td>@Html.DisplayFor(modelItem => item.Options)</td>
                    </tr>

                }

            }


        </tbody>
    </table>
</div>