@model DardaniaRealEstate.Models.Residence

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Residence</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Warehouse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Warehouse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GardenSpace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GardenSpace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResidenceSpace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResidenceSpace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Garage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Garage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Floors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Floors)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CityDistance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CityDistance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SleepingRoom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SleepingRoom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bathrooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bathrooms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuildingType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuildingType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConstructionYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConstructionYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Options)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Options)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GoogleMapsLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GoogleMapsLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Communes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Communes.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agents)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agents.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
